footer#mailing.footer
  .footer__container._container 
    .footer__title.title Статьи каждую неделю
    .footer__subtitle.text Больше 90% учеников прошли полный курс и смогли<br> собрать свой первый компьютер

    form.footer__form(action='')
      input.footer__input(type='email', placeholder='Email')
      input.footer__submit(type='submit', value='Подписаться')

    #contact.footer__body
      a.footer__social(href='#')
        img(src='@img/footer/vk.svg', alt='vk')
      a.footer__social(href='#')
        img(src='@img/footer/youtube.svg', alt='youtube')
      a.footer__social(href='#')
        img(src='@img/footer/facebook.svg', alt='facebook')
      a.footer__social(href='#')
        img(src='@img/footer/instagram.svg', alt='instagram')

    .footer__copy &copy copyright
