header.header
  .header__container._container
    a.header__logo(href='#top')
      img(src='@img/header/logo.svg', alt='logo')
    .header__burger.burger
      span
    nav.header__menu.menu
      ul.menu__list
        li.menu__item
          a.menu__link(href='#home') Главная
        li.menu__item
          a.menu__link(href='#courses') Курсы
        li.menu__item
          a.menu__link(href='#schedule') Расписание
        li.menu__item
          a.menu__link(href='#teachers') Преподаватели
        li.menu__item
          a.menu__link(href='#mailing') Рассылка
        li.menu__item
          a.menu__link(href='#contact') Контакты

    button.header__btn Зайти в кабинет

  nav.burger-menu
    .burger-menu__hiden
    a.burger-menu__logo(href='#')
      img(src='@img/header/logo.svg', alt='logo')

    ul.burger-menu__list
      li.burger-menu__item
        a.burger-menu__link(href='#home') Главная
      li.burger-menu__item
        a.burger-menu__link(href='#courses') Курсы
      li.burger-menu__item
        a.burger-menu__link(href='#schedule') Расписание
      li.burger-menu__item
        a.burger-menu__link(href='#teachers') Преподаватели
      li.burger-menu__item
        a.burger-menu__link(href='#mailing') Рассылка
      li.burger-menu__item
        a.burger-menu__link(href='#contact') Контакты
